# Python virtual environment
/env/

# Jupyter notebook checkpoints
**/.ipynb_checkpoints/

# Python cache
__pycache__/

# OS-specific files
.DS_Store
Thumbs.db

# Ignore all .pyc files
*.pyc

# Ignore database and binary files
*.sqlite3
*.bin

# Ignore VSCode settings (optional)
.vscode/