# Python virtual environment
/env/

# Jupyter notebook checkpoints
**/.ipynb_checkpoints/

# Python cache
__pycache__/

# OS-specific files
.DS_Store
Thumbs.db

# Ignore all .pyc files
*.pyc

# Ignore Chroma database and binary files
data/chroma_langchain_db/
*.sqlite3
*.bin

# Ignore temp files
*.tmp
*.temp

# Ignore VSCode settings (optional)
.vscode/