streamlit==1.35.0
streamlit-chat
langchain-core
langchain-community
langchain-google-genai
langchain-text-splitters
langchain-chroma==0.0.10
google-generativeai
PyMuPDF
chromadb==0.3.21
pydantic<2.0.0
